@tailwind base;

/* Write your own custom base styles here */
@layer base {
  @font-face {
    font-family: 'Futura';
    font-weight: 400;
    src: local('Futura') url('/public/fonts/FuturaLight.ttf') format('truetype');
  }
}
body {
  @apply font-sans text-3xl;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
